<table>
  <tr>
    <th>Name</th>
    <th>Landmarks</th>
    <th>Titles</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><% @figure.landmarks.each do |landmark| %><%= landmark.name %><br><% end %></td>
    <td><% @figure.titles.each do |title| %><%= title.name %><br><% end %></td>
  </tr>
<table>
